@font-face {
    font-family: Montreal;
    src: url("fonts/NeueMontreal-Light.otf");
}

@font-face {
    font-family: MontrealReg;
    src: url("fonts/NeueMontreal-Regular.otf");
}

@font-face {
    font-family: MontrealRegIt;
    src: url("fonts/NeueMontreal-RegularItalic.otf");
}

html, body {
    height: 250%;
    margin:0;
    padding:0;
    background-color: #f7f7f7;
}

nav {
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 1;
    mix-blend-mode: difference;
}

#name {
    float: left;
    margin-left: 12px;
    margin-top: 10px;
    color: #e6e6e6;
    font-family: MontrealReg;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

#name:hover {
    text-decoration: underline;
}

#about {
    float: right;
    margin-right: 12px;
    margin-top: 10px;
    color: #f7f7f7;
    font-family: MontrealReg;
    font-size: 20px;
    padding: 10px;
}

#about a {
    color: #f7f7f7;
    
    text-decoration: none;
    
}

#about a:hover {
    text-decoration: underline;
}

#icon {
    width: 100px;
    position: absolute;
    left: 0; 
    right: 0; 
    top: 50px;
    margin-left: auto; 
    margin-right: auto; 
}

main {
    position: absolute;
    top: 300px;
    width:100%;
    
    justify-content: center;
}

#blackBox {
    position: absolute;
    width: 400px;
    height: 80px;
    background-color: #000000;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: 10;
    top: 220px;
    border-radius: 50px 50px 0 0;
}

#blackBox p {
    position: relative;
    float: left;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: MontrealReg;
    font-size: 27px;
    text-decoration: none;
    letter-spacing: 0.5px;;
}

#projectTitleBox {
    position: -webkit-sticky;
    position: sticky;
    width: 400px;
    height: 80px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f7f7f7;
    border-radius: 0 0 50px 50px;
    z-index: 2;
    box-shadow: 0px 0px 20px  #c4c4c49f;
    
}

#projectTitleBox a {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: MontrealReg;
    color: #000000;
    font-size: 27px;
    text-decoration: none;
    letter-spacing: 0.5px;
}

#projectTitleBox a:hover{
    text-decoration: underline;
}

#thumb {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 1500px;
    margin-bottom: 10%;
    border-radius: 50px;
}


#projectText {
    position: absolute;
    top: 150px;
    width: 60%;
    max-width: 1000px;
    display: block;
    margin-left: 50%;
    transform: translate(-50%);
    margin-right: auto;
    font-family: MontrealReg;
    font-size: 20px;
    color: #000000;
}

#projectText a {
    color: #000000;
    text-decoration: none;
}

#projectText a:hover {
    text-decoration: underline;
}

#bottomBox {
    position: relative;
    width: 600px;
    height: 100px;
    background-color: #000000;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: 10;
    top: 15px;
    border-radius: 50px 50px 0 0;
}

#bottomBox a {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: MontrealReg;
    font-size: 35px;
    text-decoration: none;
    letter-spacing: 0.5px;;
}

#bottomBox a:hover {
    text-decoration: underline;
}

main a img {
    cursor: pointer;
}

#aboutSection {
    position: relative;
    top: -200px;
    margin-left: 107px;
    margin-right: 100px;
}

h1 {
    position: relative;
    display: inline-block;
    font-family: MontrealReg;
    font-size: 22px;
}

#aboutText {
    display: block;
    position: relative;
    font-family: MontrealReg;
    font-size: 20px;
    margin-bottom: 40px;
    max-width: 800px;
    letter-spacing: 0.4px;
    
}

#aboutSection a {
    position: relative;
    font-family: MontrealReg;
    font-size: 20px;
    margin-bottom: 40px;
    max-width: 800px;
    letter-spacing: 0.4px;
    color: #000000;
}

#aboutSection img {
    display: block;
    position: relative;
    top: 25px;
    max-width: 350px;
    border-radius: 50px;
    margin-bottom: 50px;
    float: right;
}

#playSound {
    position: relative;
    left: 45%;
    bottom: 100px;
}

#returnButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 40px;
    width: 200px;
    color: #1a1a1a;
    margin-top: -120px;
    margin-bottom: 50px;
    border-radius: 30px;
    font-family: MontrealReg;
    text-decoration: none;
    font-size: 15px;
    transition: .1s;
}

#returnButton:hover {
    background-color: #f0f0f0;
    color: #696969;
    transition: .1s;
}

#centerButton {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1050px) {
    #projectTitleBox {
      width: 300px;
      height: 70px;
    }

    #blackBox {
        width: 300px;
        height: 70px;
        top: 230px;
      }

    #projectTitleBox a {
        font-size: 20px;
    }

    #blackBox p {
        font-size: 20px;
    }

    #projectText {
        font-size: 15px;
    }
  }

  @media only screen and (max-width: 900px) {
    #projectTitleBox {
        width: 250px;
        height: 60px;
    }

    #blackBox {
        width: 250px;
        height: 60px;
        top: 240px;
      }

    #projectTitleBox a {
        font-size: 17px;
    }

    #blackBox p {
        font-size: 17px;
    }

    #name {
        font-size: 17px;
    }

    #about {
        font-size: 17px;
    }
  }

  @media only screen and (max-width: 850px) {
    #projectTitleBox {
        height: 43px;
        background-color: transparent;
        mix-blend-mode: difference;
        box-shadow: none;
    }

    #projectTitleBox a {
        color: #ffffff;
        
    }

    #blackBox {
        display: none;
    }
  }

  @media only screen and (max-width: 720px) {
    
    #name{
        float: none;
        display: block;
        margin-left: 40px;
    }

    #about {
        float: none;
        display: block;
        margin-left: 40px;
        margin-top: -15px;
    }

    #projectTitleBox {
        position: fixed;
        right: 0; 
        top: 0;
    }

    #projectTitleBox a {
        float: right;
        
        transform: translate(0%, 0%);
        margin-top: -10px;
    }
  }

  @media only screen and (max-width: 590px) {

    main {
        margin-top: -80px;
    }

    html, body{
        height: 100%;
    }

    #projectTitleBox {
        position: fixed;
        display: none;
        transform: translateX(0%);
        left: 0;
    }

    #projectTitleBox a {
        float: none;
        left: 50px;
        top: 65px;
    }

    #projectText {
        top: 65px;
        width: 80%;
        margin-left: 40px;
        transform: translate(0%);
    }

    #margin {
        display: none;
        background-color: red;
    }

    section{
        display: inline-block; /* change the default display type to inline-block */
        overflow: hidden;
    }

    #thumb {
        border-radius: 20px;
        width: 80%;
    }

    #aboutSection {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 70px;
    }

    #aboutSection img {
        margin-bottom: 120px;
        display: block;
        float: left;
    }

  }